
h1{
    font-size: 30px;
    text-decoration-line: underline;

}

img{
    width: 100px;
    place-content: center;
    place-items: center;
}

.container{
    display: flex;
    justify-content: right;
    gap: 10rem;
}
h3{
    color: green;
}
small{
    color: blue;
}
small.Copyright {
    color: black;
}